footer #development {
  clear: both;
  height: auto;
}

footer #development ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer #development ul li {
  width: auto;
  text-align: left;
}

footer #development ul li a {
  display: block;
  padding: 4px;
}

footer #development ul.tree-menu-level-0 li {
  margin: 2px;
}

footer #development ul.tree-menu-level-0 li nav {
  width: auto;
  margin-left: 24px;
}

/* The idea is to get it to draw like a tree menu...
footer #development ul.tree-menu-level-0 li nav li:before {
  content: '&#8970;';
  content: '⌊';
}
*/

footer #development ul.tree-menu-level-0 li.status-published a {
  color: #090;
  background-color: #cfc;
  border: 1px #090 solid;
}

footer #development ul li.status-published a:hover {
  background-color: #0c0;
  color: #f0f0f0;
  border: 1px #090 solid;
}

footer #development ul.tree-menu-level-0 li.status-draft a {
  color: #090;
  background-color: #cfc;
  border: 1px #090 solid;
}

footer #development ul li.status-draft a:hover {
  background-color: #0c0;
  color: #f0f0f0;
  border: 1px #090 solid;
}

footer #development ul li.login-required a {
  background-image: url(data:image/gif;base64,R0lGODlhEAAQAMQfAO/v79GdFee+Su/TbvPdgMXFxevJXeO0OPrhkfz10v354v3328SCDti0If377dSlF+vr68mMEcfHx/rwucySEvvzx9XV1ditGvnsqNy2HMN/Dffnkvnadq2trf///////yH5BAEAAB8ALAAAAAAQABAAAAV24CeKXmmOKNmtrJeqniVLReeing2wq2TjnZ0pV7uphKZOceTJdCCdRibTUHYut6bHoVgkEpUJBhHIZhSYzYYwMAgOiIgZrWa74QzzIr1uvzkaZgl8dn+BJBmDdX4HgFkXCBySk5OHHx4PARQRDBqen5ZDoqIfIQA7);
  background-position: 4px center;
  background-repeat: no-repeat;
  padding-left: 24px;
}
