{% load mezzanine_tags %}

{% editable_loader %}

<!-- Javascript at the bottom for fast page loading -->

<!-- Grab Google CDN's jQuery. fall back to local if necessary -->

<script src="{{ settings.CONTENT_MEDIA_URL }}js/jquery-1.4.4.min.js"></script>
{% comment %}
<script type="text/javascript">
    $(function(){
        $('#search input[type="text"]').tooltip()
    });
</script>
{% endcomment %}

{% comment %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.js"></script>
<script>!window.jQuery && document.write(unescape('%3Cscript src="js/libs/jquery-1.4.2.js"%3E%3C/script%3E'))</script>
{% endcomment %}


<!-- scripts concatenated and minified via ant build script-->
{% comment %}
<script src="{{ MEDIA_URL }}js/plugins.js"></script>
<script src="{{ MEDIA_URL }}js/script.js"></script>
{% endcomment %}
<!-- end concatenated and minified scripts-->


<!--[if lt IE 7 ]>
  <script src="{{ MEDIA_URL }}js/libs/dd_belatedpng.js"></script>
  <script> DD_belatedPNG.fix('img, .png_bg'); //fix any <img> or .png_bg background-images </script>
<![endif]-->

{% comment %}
<!-- yui profiler and profileviewer - remove for production -->
<script src="{{ MEDIA_URL }}js/profiling/yahoo-profiling.min.js"></script>
<script src="{{ MEDIA_URL }}js/profiling/config.js"></script>
<!-- end profiling code -->
{% endcomment %}


<!-- asynchronous google analytics: mathiasbynens.be/notes/async-analytics-snippet 
     change the UA-XXXXX-X to be your site's ID -->
{% if settings.GOOGLE_ANALYTICS_ID %}
<script> 

var _gaq = _gaq || [['_trackPageview']];
_gaq.unshift(['_setAccount', '{{ settings.GOOGLE_ANALYTICS_ID }}']);

(function(d, t) {
    var g = d.createElement(t),
        s = d.getElementsByTagName(t)[0];
    g.async = true;
    g.src = '//www.google-analytics.com/ga.js';
    s.parentNode.insertBefore(g, s);
})(document, 'script');

</script>
{% endif %}


